version: 2
updates:
- package-ecosystem: "github-actions"
  directory: "/"
  open-pull-requests-limit: 5
  schedule:
      interval: "weekly"
      time: "12:00"
      day: "sunday"
      timezone: "America/Los_Angeles"
  commit-message:
      prefix: "chore"
- package-ecosystem: "npm"
  directory: "/"
  open-pull-requests-limit: 5
  schedule:
      interval: "weekly"
      time: "12:00"
      day: "sunday"
      timezone: "America/Los_Angeles"
  commit-message:
      prefix: "fix"
      prefix-development: "chore"
      include: "scope"
  groups:
      dev-patch-minor-dependencies:
        dependency-type: "development"
        update-types:
          - "patch"
          - "minor"
  ignore:
    - dependency-name: "@oclif/core"
      update-types: ["version-update:semver-major"]
    - dependency-name: "typescript"
      update-types: ["version-update:semver-major"]
